body {
  width: 905px;
  margin: auto;
  background-color: rgb(7, 146, 114)
}

header h1 {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 5em;
  margin: 5px;
  text-align: center;
  color: rgb(250, 246, 8);
}

header h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 5px;
  color: rgb(250, 246, 8);
}

.shadow {
  text-shadow:
  -2px -2px 0 #057979,
  2px -2px 0 #057979,
  -2px 2px 0 #057979,
  2px 2px 0 #057979;
}

header p {
  text-indent: 30px;
  font-family: 'Raleway', sans-serif;
  line-height: 30px;
  color: rgb(16, 2, 65);
  font-size: 20px;
}

#container {
  background-color: rgb(250, 246, 8);
  border: 5px dashed rgb(78, 77, 6);
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

main img {
  border-radius: 20px;
  margin: 10px;
  border: 10px solid rgb(78, 77, 6);
}